<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Andres Dioguardi Design</title>
</head>

<body>
    <header>
        <nav class="menu">
            <label class="logo">Andres Dioguardi</label>
            <ul class="menu-items" id="menu-items">
                <li id="start-item"><a href="/#catalog" >Inicio</a></li>
            </ul>
            <span class="btn-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </span>
        </nav>
    </header>
    <div class="container-item">
        <div class="super-card">
            <div class="card-left">
                <div class="principal-photo">
                    <img src="../static/img/{{item.primary_photo}}" id="big-photo">
                </div>
                <div class="photo-galery" id='photo-galery'>

                    <img src="../static/img/{{item.primary_photo}}">
                    {% if item.secondary_photo_one %}
                    <img src="../static/img/{{item.secondary_photo_one}}">
                    {% endif %}
                    {% if item.secondary_photo_two %}
                    <img src="../static/img/{{item.secondary_photo_two}}">
                    {% endif %}
                    {% if item.secondary_photo_three %}
                    <img src="../static/img/{{item.secondary_photo_three}}">
                    {% endif %}
                </div>
                
            </div>
            <div class="card-right">
                <h1>{{item.name}}</h1>
                <div class="full-description">
                    <h2>Descripción</h2>
                    <p>{{item.description}}</p>
                    <h2>Dimenciones</h2>
                    <p>{{item.dimentions}}</p>
                </div>
            </div>
        </div>

    </div>
    <script src="../static/js/item.js" defer></script>
</body>

</html>